<!--
//  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
//
//   Copyright 2016-2017 Pascal ECHEMANN.
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>GlassCat Error</title>
        <style>
            header, footer{
                background: #222;
                color: #fff;
                font-weight: bold;
                padding: 0;
            }
            h1{
                padding: 5px 10px;
            }
            h3{
                padding: 2px 8px;
            }
            dt{
                background: #222;
                color: #fff;
                padding: 2px 8px;
                width: 200px;
                float: left;
                margin-right: 10px;
            }
            dl, dd{
                padding: 2px 0;
            }
            hr{
                border-top: 1px solid #222;
                border-bottom: none;
            }
        </style>
    </head>

    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <hr/>
        <dl>
            <dt>type</dt>
            <dd><%= type %></dd>
        </dl>
        <dl>
            <dt>message</dt>
            <dd><%= message %></dd>
        </dl>
        <dl>
            <dt>description</dt>
            <dd><%= description %></dd>
        </dl>
        <hr/>
        <footer>
            <h3>GlassCat / <%= version %> - <%= codeName %></h3>
        </footer>
    </body>
</html>